body{
  background-image: linear-gradient(135deg, #ff9431 0, #ff833e 10%, #ff7249 20%, #ff5f50 30%, #ff4c55 40%, #ff3858 50%, #e92459 60%, #d40d5a 70%, #c1005c 80%, #b0005d 90%, #a0005f 100%);
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
 
}

.cantidad{
  width: 60px;
}
.option{
  border:none;
  height: 20px;
  margin: 0;
  padding: 0;
  width:100%;
  width: 20px;

  text-align: end;
}


.contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#resultado,#resultado2{
  font-weight: bolder;
}

form{
  display: flex;
  flex-direction: column;
  width: 250px;
  margin:auto;
  text-align: center;
}



.formulario{
	width: 300px!important; 
	background: #f1f1f1;
	padding: 40px 40px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.2);
}

select,textarea{
	border: none;
	background: none;
	color: gray;
}

.formulario h1{
	text-align: center;
	margin-bottom: 10px;
	color: #333;
	font-weight: 600;
}

.box-input{
	border-bottom: 2px solid #adadad;
	position: relative;
	margin: 30px 0;
}

.box-input input{
	font-size: 16px;
	color: #333;
	border: none;
	width: 100%;
	outline: none;
	background: none;
	padding: 0 5px;
	height: 40px;
}



.focus + span::before{
	top: -5px;
}

.focus + span::after{
	width: 100%;
}

.boton{
	display: block;
	width: 100%;
	height: 50px;
	background-color: #48bb78;
	border: solid 2px #48bb78;
	color: #fff;
	border-radius: 5px;
	font-weight: 600;
	font-size: 18px;
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
}

.boton:hover{
	background-color: #2F855A;
	border: solid 2px #2F855A;
	transition: .5s;
}


